/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_self
 *= require_tree .
*/

body {
  background: url('ricepaper_small.png');
}

.hero-unit{
  background-color: transparent;
}

h1, h2, h3, p{
  text-align: center;
}

#logo{
  margin-top: 30px;
  margin-bottom: 30px;
}

#logo img{
  display: block;
  margin: 0 auto;
}

#inquiries{
  margin-top: 30px;
  margin-bottom: -10px;
}
